<!DOCTYPE html>
<html>
  <head>
    <title>Campist2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/24be0f817b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <main>
      <% if notice.present? %>
        <div id="notice-box" class="position-fixed w-100 text-center">
          <div id="notice" class="d-inline-block" >
            <%= notice %>
          </div>
        </div>
      <% end %>
    </main>
    <%= yield %>
    <span id="back">
      <%= link_to "#header" do %>
        <i class="fas fa-angle-up fa-3x"></i>
      <% end %>
    </span>
  </body>
</html>
